---
const pageTitle = "About Me";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>
		<h1>{pageTitle}</h1>
        <h2>And my new Astro Site!</h2>
        <p>Currently working through the astro tutorial for a blog site.</p>
        <p>Its connected to Github and Netlify so it updates automatically.</p>
	</body>
</html>