---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Home Page"
---

<BaseLayout pageTitle={pageTitle}>
	<img class="circImg" src=https://i.imgur.com/aZgx3cQ.png width="300" alt="Picture of Gavin" />
	<h2>This is my, Gavin Edwards, Portfolio Website and maybe more who knows.</h2>
	<p>The About section goes into details about me and the Portfolio one shows off some of the things I've done.</p>
	<p>If your curious about specific languages and the like the Tags section will provide you with a more narrow and focused list of projects.</p>
</BaseLayout>
