---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Home Page"
---

<BaseLayout pageTitle={pageTitle}>
	<img src=https://media.discordapp.net/attachments/1237444055521169589/1239481987685941321/1711769736589.png?ex=664f9b4e&is=664e49ce&hm=881819ce38cf820daee903308b102ad6aeb7313722a0dbccff633eb31988c05c&=&format=webp&quality=lossless&width=671&height=671 width="300" alt="Picture of Gavin" />
	<h2>This is my, Gavin Edwards, Portfolio Website and maybe more who knows.</h2>
	<p>The About section goes into details about me and the Portfolio one shows off some of the things I've done.</p>
	<p>If your curious about specific languages and the like the Tags section will provide you with a more narrow and focused list of projects.</p>
</BaseLayout>
